<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="pattern_console"
              value="%-4relative %d %-5level [ %t ] %-55logger{13} | %m %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${pattern_console}</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="${SPRING_LOG_LEVEL:-INFO}"/>
</configuration>